/tags
target
.lock-wscript
.waf-*
waf-*
*~
artifacts
dist-files
build.number
classes
target
cloud-bridge*.tar.bz2
packages/cloud-bridge_*.deb
packages/cloud-bridge*.rpm
packages/cloud_*.build
packages/cloud_*.changes
packages/config/debian/files
packages/config/debian/debhelper.log
packages/config/debian/substvars
packages/config/debian/tmp
packages/config/rpm/tmp
