target
.lock-wscript
.waf-*
waf-*
*~
artifacts
dist-files
build.number
classes
target
packages/cloud-bridge_*.deb
packages/cloud_*.build
packages/cloud_*.changes
packages/config/debian/files
packages/config/debian/debhelper.log
packages/config/debian/substvars
packages/config/debian/tmp

